.map-container {
  width: 100%;
  height: 260px;
}

@media (min-width: 576px) {
  .map-container {
    height: 320px;
  }
}

@media (min-width: 768px) {
  .map-container {
    height: 400px;
  }
}

@media (min-width: 992px) {
  .map-container {
    height: 450px;
  }
}
